name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        IMAGE_BASE="ghcr.io/${{ github.repository }}/sentiment-api"
        IMAGE_BASE=$(echo $IMAGE_BASE | tr '[:upper:]' '[:lower:]')

        SHA_TAG=${GITHUB_SHA}
        SHORT_SHA=${GITHUB_SHA::7}

        docker build \
          -t $IMAGE_BASE:latest \
          -t $IMAGE_BASE:$SHA_TAG \
          -t $IMAGE_BASE:$SHORT_SHA \
          .

        docker push $IMAGE_BASE:latest
        docker push $IMAGE_BASE:$SHA_TAG
        docker push $IMAGE_BASE:$SHORT_SHA

    - name: Run container
      run: |
        IMAGE_NAME=$(echo "ghcr.io/${{ github.repository }}/sentiment-api:latest" | tr '[:upper:]' '[:lower:]')
        docker run -d -p 8000:8000 --name sentiment-test $IMAGE_NAME
        sleep 10

    - name: Health check
      run: |
        curl --fail http://localhost:8000/health

    - name: Cleanup
      if: always()
      run: |
        docker stop sentiment-test
        docker rm -f sentiment-test || true