name: Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/sentiment-api:latest .

      - name: Run health check
        run: |
          docker run -d -p 8000:8000 --name test-api ghcr.io/${{ github.repository }}/sentiment-api:latest
          sleep 10
          curl -f http://localhost:8000/health
          docker rm -f test-api

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}/sentiment-api:latest